#menu
    .contenedor
        .row.espaciado1
            .col-sm-6.pull-left
                h5 Default Welcome Msg!
            .col-sm-6
                ul.list-menu.list-unstyle.list-inline.pull-right
                    li
                        img(src="images/flag1.png")
                        a(href="") Languaje
                        i.fa.fa-caret-down
                    li
                        i.fa.fa-usd
                        a(href="") Currency
                        i.fa.fa-caret-down
                    li
                        i.fa.fa-user
                        a(href="") My Account
                        i.fa.fa-caret-down
#titulo
    .contenedor
        .row.espaciado2.text-center
            .col-md-4.espaciado1
                .time
                    i.fa.fa-clock-o.tam-1.enlinea
                    .enlinea
                        p OPENING TIME
                        p 9.00 AM - 10.00 PM
            .col-md-4
                img(src="images/logo.png" class="espaciado1")
                .col-md-4.espaciado1
                .entrada.borde.pull.right
                    input(type="text" id="buscar" placeholder="Search")
                    i.fa.fa-search
#submenu
    .contenedor
        .row
            .col-sm-9
                ul.list-menu.list-unstyle.list-inline
                    li
                        a(href="index.html") HOME
                    li
                        a(href="contacto.html") CONTACT-US
            .col-sm-3.pull-right
                .shopping.pull-right
                    p.fa.fa-shopping-cart.tam-0   My Cart
                    p 2 item(s) - $244.00 