doctype html
html(lang="en")
    include head.jade
    body
        .container
            include encabezado.jade
            #carrusel
                .row.portada
                    .contenedor
                        .ofertas.pull-right
                            .row
                                .col-xs-5
                                    img(src="images/cart-1.jpg")
                                .col-xs-7
                                    p Aliquam Consequat
                                    p 1 x $500
                            .row
                                .col-xs-5
                                    img(src="images/cart-2.jpg")
                                .col-xs-7
                                    p Aliquam Consequat
                                    p 1 x $200
                             .row
                                .col-xs-6
                                    p Sub-Total
                                    p Eco Tax (-2.00)
                                    p VAT (20%)
                                .col-xs-6.pull-right.t-resaltado
                                    p $700
                                    p $7.00
                                    p $40.00
            #carrusel-2
                .contenedor
                    .row.portada2
                        .col-sm-6
                            img.img-responsive(src="images/banner1.jpg" class="pull-right")
                        .col-sm-6
                            img.img-responsive(src="images/banner2.jpg" class="pull-left")
                    .row.menu-segundo.espaciado1
                        ul.list-menu.list-unstyle.list-inline.text-center.menu-segundo
                            li
                                i.fa.fa-angle-left
                            li
                                a(href="") LATEST
                            li
                                a(href="") BESTSELLER
                            li
                                a(href="") SALE
                            li
                                i.fa.fa-angle-right
                    .row.espaciado1
                        ul.list-menu.list-unstyle.list-inline.text-center
                            li
                                .l-productos.text-center.borde
                                    img.img-responsive(src="images/a1.jpg")
                                    p Deliver Wide
                                    span
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star-o
                                        i.fa.fa-star-o
                                    p $ 218.00
                            li
                                .l-productos.text-center.borde
                                    img.img-responsive(src="images/b1.jpg")
                                    p Deliver Wide
                                    span
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star-o
                                        i.fa.fa-star-o
                                    p $ 218.00
                            li
                                .l-productos.text-center.borde
                                    img.img-responsive(src="images/c1.jpg")
                                    p Deliver Wide
                                    span
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star-o
                                        i.fa.fa-star-o
                                    p $ 218.00
                            li
                                .l-productos.text-center.borde
                                    img.img-responsive(src="images/d1.jpg")
                                    p Deliver Wide
                                    span
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star-o
                                        i.fa.fa-star-o
                                    p $ 218.00
            #clientes
                .contenedor
                    .row.espaciado1
                        ul.list-menu.list-unstyle.list-inline.text-center
                            li
                                img.img-responsive(src="images/client1.jpg")
                            li
                                img.img-responsive(src="images/client2.jpg")
                            li
                                img.img-responsive(src="images/client3.jpg")
                            li
                                img.img-responsive(src="images/client4.jpg")
                            li
                                img.img-responsive(src="images/client5.jpg")
                            li
                                img.img-responsive(src="images/client6.jpg")
            #carrusel-3
                .contenedor
                    .row.espaciado1
                        ul.list-menu.list-unstyle.list-inline.text-center.menu-segundo
                            li
                                i.fa.fa-angle-left
                            li
                                a(href="") CLOTHING
                            li
                                a(href="") EQUIPMENTS
                            li
                                a(href="") JEWELLERY
                            li
                                i.fa.fa-angle-right
                    .row
                        ul.list-menu.list-unstyle.list-inline.text-center
                            li
                                .compra
                                    .col-md-6.thumbnail
                                        img(src="images/a2.jpg")
                                    .col-md-6
                                        p Deliver Wide
                                        p $242.00  $218.00
                                        span
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star-o
                                            i.fa.fa-star-o
                                        button.btn.btn-default
                                            i.fa.fa-shopping-csrt ADD TO CART
                            li
                                .compra
                                    .col-md-6.thumbnail
                                        img(src="images/d2.jpg")
                                    .col-md-6
                                        p Deliver Wide
                                        p $242.00  $218.00
                                        span
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star-o
                                            i.fa.fa-star-o
                                        button.btn.btn-default
                                            i.fa.fa-shopping-csrt ADD TO CART
                            li
                                .compra
                                    .col-md-6.thumbnail
                                        img(src="images/g2.jpg")
                                    .col-md-6
                                        p Deliver Wide
                                        p $242.00  $218.00
                                        span
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star-o
                                            i.fa.fa-star-o
                                        button.btn.btn-default
                                            i.fa.fa-shopping-csrt ADD TO CART
                            li
                                .compra
                                    .col-md-6.thumbnail
                                        img(src="images/a2.jpg")
                                    .col-md-6
                                        p Deliver Wide
                                        p $242.00  $218.00
                                        span
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star-o
                                            i.fa.fa-star-o
                                        button.btn.btn-default
                                            i.fa.fa-shopping-csrt ADD TO CART
                            li
                                .compra
                                    .col-md-6.thumbnail
                                        img(src="images/d2.jpg")
                                    .col-md-6
                                        p Deliver Wide
                                        p $242.00  $218.00
                                        span
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star-o
                                            i.fa.fa-star-o
                                        button.btn.btn-default
                                            i.fa.fa-shopping-csrt ADD TO CART
                            li
                                .compra
                                    .col-md-6.thumbnail
                                        img(src="images/g2.jpg")
                                    .col-md-6
                                        p Deliver Wide
                                        p $242.00  $218.00
                                        span
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star-o
                                            i.fa.fa-star-o
                                        button.btn.btn-default
                                            i.fa.fa-shopping-csrt ADD TO CART
            #carrusel-4
                .contenedor
                    .row
                        ul.list-menu.list-unstyle.list-inline.text-center.menu-segundo
                            li
                                i.fa.fa-angle-left
                            li
                                a(href="") BLOG
                            li
                                i.fa.fa-angle-right
                    .row
                        ul.list-menu.list-unstyle.list-inline.text-center
                            li
                                .articulo

                                    img.img-responsive(src="images/blog2.jpg")
                                    h5 
                                        strong THE SAMPLE HEADING TITLE
                                    p 27/11/2015
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do...
                                    a.t-resaltado Read more...
                            li
                                .articulo
                                    img.img-responsive(src="images/blog1.jpg")
                                    h5 
                                        strong THE SAMPLE HEADING TITLE
                                    p 27/11/2015
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do...
                                    a.t-resaltado Read more...
                            li
                                .articulo
                                    img.img-responsive(src="images/blog2.jpg")
                                    h5 
                                        strong THE SAMPLE HEADING TITLE
                                    p 27/11/2015
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do...
                                    a.t-resaltado Read more...
                            li
                                .articulo
                                    img.img-responsive(src="images/blog3.jpg")
                                    h5 
                                        strong THE SAMPLE HEADING TITLE
                                    p 27/11/2015
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do...
                                    a.t-resaltado Read more...
            #carrusel-5
                .contenedor
                    ul.list-menu.list-unstyle.list-inline.text-center
                        li
                            .row.ordenes.borde
                                .col-xs-3
                                    br
                                    i.fa.fa-phone-square.enlinea.tam-1
                                .col-xs-9
                                    h5.enlinea ORDER ONLINE NOW
                                    p.enlinea Call Us:(0123)56 789
                        li
                            .row.ordenes.borde
                                .col-xs-3
                                    br
                                    i.fa.fa-plane.enlinea.tam-1
                                .col-xs-9
                                    h5.enlinea ORDER ONLINE NOW
                                    p.enlinea Call Us:(0123)56 789
                        li
                            .row.ordenes.borde
                                .col-xs-3
                                    br
                                    i.fa.fa-money.enlinea.tam-1
                                .col-xs-9
                                    h5.enlinea ORDER ONLINE NOW
                                    p.enlinea Call Us:(0123)56 789
            include pie.jade

