#footer
	.contenedor
		.row
			.col-sm-3
				h5 ACCESORRIES
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis omnis accusantium dicta provident, nihil dolorem.
				.list-inline
					i.fa.fa-facebook.sociales.tam-0
					i.fa.fa-twitter.sociales.tam-0
					i.fa.fa-skype.sociales.tam-0
					i.fa.fa-dribbble.sociales.tam-0
					i.fa.fa-rss.sociales.tam-0
			.col-sm-2
				h5 MY ACOUNDT
				ul.list-unstyled
					li
						i.fa.fa-caret-right
						a(href="#") My Acocound
					li
						i.fa.fa-caret-right
						a(href="#") Order History
					li
						i.fa.fa-caret-right
						a(href="#") Wwach List
					li
						i.fa.fa-caret-right 
						a(href="#") Newsletter	
			.col-sm-2
				h5 INFORMATION
				ul.list-unstyled
					li 
						i.fa.fa-caret-right
						a(href="#") About Us
					li 
						i.fa.fa-caret-right
						a(href="#") Delivery Informnaticon
					li 
						i.fa.fa-caret-right
						a(href="#") Privacity Policy
					li 
						i.fa.fa-caret-right 
						a(href="#") Terms & Conditions
			.col-sm-2
				h5 EXTRAS
				ul.list-unstyled
					li 
						i.fa.fa-caret-right
						a(href="#") Brands
					li 
						i.fa.fa-caret-right
						a(href="#") Gits Vouchrs
					li 
						i.fa.fa-caret-right
						a(href="#") Affiliatees
					li
						i.fa.fa-caret-right
						a(href="#") Speciales
			.col-sm-3
				H5 ABOUT US
				ul.list-unstyled
					li
						.circle.enlinea
							i.fa.fa-map-marker.tam-0
						.div.enlinea
							p 35456 Mordat DO34 45
							p GR, New York
					li
						.circle.enlinea
							i.fa.fa-phone.tam-0
						.div.enlinea
							p (2342)35456
							p (3255)34445
					li
						.circle.enlinea
							i.fa.fa-envelope-o.tam-0
						.div.enlinea
							p admin@bocted.com
#pie-pag
	.contenedor
		.row.espaciado1.pie
			.col-sx-9
				p Copyright © 2015
					span.t-resaltado BootExperts All rights reserved.
			.col-sx-3.pull-right
				img(src="images/payment.png")